mikesWebService.asmx/mikesWebService.asmx/Connected Services/WebRef/WebDev1Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BikesStudioService">
        <s:complexType />
      </s:element>
      <s:element name="BikesStudioServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BikesStudioServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DesiredAmountOfBikes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numBikes" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DesiredAmountOfBikesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DesiredAmountOfBikesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BikesStudioServiceSoapIn">
    <wsdl:part name="parameters" element="tns:BikesStudioService" />
  </wsdl:message>
  <wsdl:message name="BikesStudioServiceSoapOut">
    <wsdl:part name="parameters" element="tns:BikesStudioServiceResponse" />
  </wsdl:message>
  <wsdl:message name="DesiredAmountOfBikesSoapIn">
    <wsdl:part name="parameters" element="tns:DesiredAmountOfBikes" />
  </wsdl:message>
  <wsdl:message name="DesiredAmountOfBikesSoapOut">
    <wsdl:part name="parameters" element="tns:DesiredAmountOfBikesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebDev1ServiceSoap">
    <wsdl:operation name="BikesStudioService">
      <wsdl:input message="tns:BikesStudioServiceSoapIn" />
      <wsdl:output message="tns:BikesStudioServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DesiredAmountOfBikes">
      <wsdl:input message="tns:DesiredAmountOfBikesSoapIn" />
      <wsdl:output message="tns:DesiredAmountOfBikesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebDev1ServiceSoap" type="tns:WebDev1ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BikesStudioService">
      <soap:operation soapAction="http://tempuri.org/BikesStudioService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesiredAmountOfBikes">
      <soap:operation soapAction="http://tempuri.org/DesiredAmountOfBikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebDev1ServiceSoap12" type="tns:WebDev1ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BikesStudioService">
      <soap12:operation soapAction="http://tempuri.org/BikesStudioService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesiredAmountOfBikes">
      <soap12:operation soapAction="http://tempuri.org/DesiredAmountOfBikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebDev1Service">
    <wsdl:port name="WebDev1ServiceSoap" binding="tns:WebDev1ServiceSoap">
      <soap:address location="http://localhost:59653/WebDev1Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WebDev1ServiceSoap12" binding="tns:WebDev1ServiceSoap12">
      <soap12:address location="http://localhost:59653/WebDev1Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>